<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmsq.shaxuntech.mapper.ShopItemsMapper">
  <resultMap id="BaseResultMap" type="com.lmsq.shaxuntech.pojo.ShopItems">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="logic_id" jdbcType="VARCHAR" property="logicId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="item_msg" jdbcType="VARCHAR" property="itemMsg" />
    <result column="point" jdbcType="VARCHAR" property="point" />
    <result column="init_price" jdbcType="DECIMAL" property="initPrice" />
    <result column="curr_price" jdbcType="DECIMAL" property="currPrice" />
    <result column="volume" jdbcType="INTEGER" property="volume" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="resource_id" jdbcType="VARCHAR" property="resourceId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="featured" jdbcType="TINYINT" property="featured" />
    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="transport_cost" jdbcType="INTEGER" property="transportCost" />
    <result column="record_status" jdbcType="TINYINT" property="recordStatus" />
  </resultMap>
</mapper>