<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmsq.shaxuntech.mapper.ShopCouponMapper">
  <resultMap id="BaseResultMap" type="com.lmsq.shaxuntech.pojo.ShopCoupon">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="logic_id" jdbcType="VARCHAR" property="logicId" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="record_status" jdbcType="TINYINT" property="recordStatus" />
  </resultMap>
</mapper>