<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmsq.shaxuntech.mapper.ShopActivityItemsMidMapper">
  <resultMap id="BaseResultMap" type="com.lmsq.shaxuntech.pojo.ShopActivityItemsMid">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="logic_id" jdbcType="VARCHAR" property="logicId" />
    <result column="act_id" jdbcType="VARCHAR" property="actId" />
    <result column="item_id" jdbcType="VARCHAR" property="itemId" />
    <result column="record_status" jdbcType="TINYINT" property="recordStatus" />
  </resultMap>
</mapper>