<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmsq.shaxuntech.mapper.SysUserRightMapper">
  <resultMap id="BaseResultMap" type="com.lmsq.shaxuntech.pojo.SysUserRight">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="logic_id" jdbcType="VARCHAR" property="logicId" />
    <result column="right_name" jdbcType="VARCHAR" property="rightName" />
    <result column="right_message" jdbcType="VARCHAR" property="rightMessage" />
    <result column="access_address" jdbcType="VARCHAR" property="accessAddress" />
    <result column="record_status" jdbcType="TINYINT" property="recordStatus" />
  </resultMap>
</mapper>